@import '~/assets/css/preflight.scss';
@import '~/assets/css/text.scss';
@import '~/assets/css/code.scss';
@import '~/assets/css/boxShadow.scss';
@import '~/assets/css/breakpoints.scss';
@import '~/assets/css/palette.scss';
// @import '~/assets/css/form.scss';

.page-enter-active,
.page-leave-active {
  transition: all .3s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

$fontWeights: (
  'thin': 100,
  'extralight': 200,
  'light': 300,
  'normal': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
  'extrabold': 800,
  'black': 900,
);

:root {
  --break-sm: 640px;
  --break-md: 768px;
  --break-lg: 1024px;
  --break-xl: 1280px;
  --break-2xl: 1536px;
  --spacing-unit: 0.325rem;
  @each $fontWeight, $value in $fontWeights {
    --font-#{$fontWeight}: #{$value};
  }
}

::backdrop {
  @each $color, $shades in $palette {
    @each $shade, $value in $shades {
      --#{$color}-#{$shade}: #{$value};
      --#{$color}-#{$shade}--rgb: #{hexToRGB($value)};
    }
  }
}

@each $color, $shades in $palette {
  @each $shade, $value in $shades {
    .bg-#{$color}-#{$shade} {
      background-color: var(--#{$color}-#{$shade});
    }
  }
}

$spacingMults: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 64);

@each $mult in $spacingMults {
  .m-#{$mult},
  .mx-#{$mult},
  .ml-#{$mult} {
    margin-left: calc(#{$mult} * var(--spacing-unit));
  }
  .m-#{$mult},
  .mx-#{$mult},
  .mr-#{$mult} {
    margin-right: calc(#{$mult} * var(--spacing-unit));
  }
  .m-#{$mult},
  .my-#{$mult},
  .mt-#{$mult} {
    margin-top: calc(#{$mult} * var(--spacing-unit));
  }
  .m-#{$mult},
  .my-#{$mult},
  .mb-#{$mult} {
    margin-bottom: calc(#{$mult} * var(--spacing-unit));
  }

  .p-#{$mult},
  .px-#{$mult},
  .pl-#{$mult} {
    padding-left: calc(#{$mult} * var(--spacing-unit));
  }
  .p-#{$mult},
  .px-#{$mult},
  .pr-#{$mult} {
    padding-right: calc(#{$mult} * var(--spacing-unit));
  }
  .p-#{$mult},
  .py-#{$mult},
  .pt-#{$mult} {
    padding-top: calc(#{$mult} * var(--spacing-unit));
  }
  .p-#{$mult},
  .px-#{$mult},
  .pb-#{$mult} {
    padding-bottom: calc(#{$mult} * var(--spacing-unit));
  }
  .space-x-#{$mult} > :not([hidden]) ~ :not([hidden]) {
    margin-right: calc(#{$mult} * var(--spacing-unit) * 0);
    margin-left: calc(#{$mult} * var(--spacing-unit) * 1);
  }
}

.font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.font-serif {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
.button {
  font-family: Oswald;
  text-transform: uppercase;
  transition: font-size 0.3s ease-out, background-color 0.3s ease-out;
  color: white;
  border: none;
  border-radius: calc(var(--spacing-unit));
  padding: calc(1 * var(--spacing-unit));
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  padding: calc(var(--spacing-unit) * 2);
  margin-top: calc(var(--spacing-unit) * 3);
  font-size: var(--text-sm);
  @include bpmd {
    font-size: 1rem;
  }
}
.button--primary {
  background-color: var(--gray-600);
  @extend .button;
}
.button--primary:hover {
  background-color: var(--gray-700);
}

.button--accent {
  @extend .button;
  background-color: var(--red-500);
}
.button--accent:hover {
  background-color: var(--red-600);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.row {
  display: flex;
  justify-content: center;
}
.column{
  display:flex;
  flex-direction: column;
  flex-basis: 800px;
  flex-shrink: 1;
  max-width: 100%;
  padding-left: var(--spacing-unit);
  padding-right: var(--spacing-unit);
  @include bpmd {
    position: relative;
    padding-left: 120px;
    padding-right: 120px;
    max-width: 800px;
  }
}

.title {
  // transition: font-size .3s ease-out;
  color: var(--neutral-300);
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  @include bpmd {
    font-size: 4rem;
  }
}